#sq-controls {
  height: rem-calc(64 * 2);
  border-bottom: 1px $clouds solid;
  @include flexbox();
  @include align-items(center);
  @include flex-flow(column nowrap);

  #sq-zoom, #sq-multiplier {
    width: 100%;
    padding: rem-calc(0 20);
    height: rem-calc(64);
    @include flexbox();
    @include align-items(center);
    @include flex(0 0 50%);

    h5 {
      margin: rem-calc(0 20 0 0);
      @include flex(0 0 rem-calc(96));

      span {
        padding-left: rem-calc(4);
        color: $eastern-blue;
      }
    }

    .rc-slider-handle {
      border-color: $purple;
    }

    .rc-slider-rail {
      background-color: $clouds;
    }

    .rc-slider-track {
      background-color: $eastern-blue;
    }
  }

  @media only screen and (min-width:#{em-calc(768)}) {
    // From tablet portrait on
    height: rem-calc(64);
    @include flex-flow(row nowrap);

    #sq-zoom, #sq-multiplier {
      width: 50%;
      padding: rem-calc(0 40);
    }
  }
}