#sq-graph {
  width: 100%;
  background: $white;
  position: relative;

  @include radius();
  @include shadow(rgba($asphalt, .12) rem-calc(0 0 8));

  svg {
    height: rem-calc(360);

    .axis {
      fill: none;
      shape-rendering: crispEdges;

      text {
        fill: $asbestos;
        font: rem-calc(12) $sans-serif;
      }

      path, line {
        stroke: $clouds;
      }
    }

    .instrument {
      .line {
        fill: none;
        stroke-width: rem-calc(2);
        stroke-linejoin: round;
        stroke-linecap: round;
      }

      .circle {
        cursor: pointer;
      }

      @for $i from 1 through length($strokes) {
        .line.line-#{$i} {
          stroke: nth($strokes, $i);
        }
        .circle.circle-#{$i} {
          fill: nth($strokes, $i);
        }
      }
    }

    .grid line {
      stroke: $clouds;
      stroke-opacity: 1;
      shape-rendering: crispEdges;
    }

    .grid path {
      stroke-width: 0;
    }
  }
}