header[role="banner"] {
  width: 100%;
  height: rem-calc($header-size);
  background: $purple;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);

  a.logo {
    display: block;
    width: rem-calc(84);
    height: rem-calc(24);
    background: url('/public/img/logo.png') no-repeat center;
    background-size: rem-calc(84 24);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('/public/img/logo@2x.png');
    }
  }
}