#sq-infobox {
  display: none;
  padding: rem-calc(20);
  position: absolute;
  color: $asphalt;
  background: $white;
  font-size: rem-calc(12);
  text-transform: uppercase;
  border: rem-calc(1) $clouds solid;
  z-index: 999;
  margin-top: rem-calc(-40);
  @include radius();
  @include shadow(rgba($asphalt, .12) rem-calc(0 4 12));
  @include translateX(-50%);

  h5 {
    font-size: rem-calc(14);
    margin: rem-calc(0 0 12 0);
    font-weight: 700;
    white-space: nowrap;

    @for $i from 1 through length($strokes) {
      &.cat-#{$i} {
        color: nth($strokes, $i);
      }
    }
  }

  span {
    margin-right: rem-calc(20);
    color: lighten($asphalt, 10%);
  }

  strong {
    margin-left: auto;
    font-weight: 900;
  }
}