/* FONTS */
$sans-serif: 'Roboto', sans-serif;
$condensed: 'Roboto Condensed', sans-serif;

/* GRID */
$columns: 12;
$gutter: 20px;
$max-width: 1000px;

/* COLOURS */
$turquoise: #1abc9c;
$emerald: #2ecc71;
$eastern-blue: #10A1B4;
$river: #3498db;
$steel-blue: #4B77BE;
$amethyst: #9b59b6;
$purple: #8334c2;
$carrot: #e67e22;
$sun: #f1c40f;
$alizarin: #e74c3c;
$white: #fff;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$asphalt: #34495e;
$midnight: #2c3e50;
$strokes: ($emerald, $amethyst, $river, $carrot, $alizarin, $turquoise);

/* MISC */
$radius: 4px;
$header-size: 48px;