@mixin radius($r: $radius){
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
  -khtml-border-radius: $r;
}

@mixin shadows($values...) {
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  box-shadow: $values;
}

@mixin shadow($values) {
  @include shadows($values);
}

@mixin translateX($translation) {
  -webkit-transform: translateX($translation);
  -ms-transform: translateX($translation);
  transform: translateX($translation);
}

@mixin translateY($translation) {
  -webkit-transform: translateY($translation);
  -ms-transform: translateY($translation);
  transform: translateY($translation);
}

@mixin translateXY($translationX, $translationY) {
  -webkit-transform: translate($translationX, $translationY);
  -ms-transform: translate($translationX, $translationY);
  transform: translate($translationX, $translationY);
}