* {
  @include box-sizing(border-box);
}

body {
  font-family: $sans-serif;
  background: #EBEEF3;
  color: $asphalt;
  padding-top: rem-calc($header-size + 20);
  @include flexbox();
  @include align-items(center);
}

#sq-app {
  width: 100%;
}

main {
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  max-width: rem-calc($max-width);
  margin: 0 auto;
}

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.flexbox {
  @include flexbox();
}